.DS_Store
._*
build
*.kip
*.elf
*.nso
*.nsp
*.npdm
.vs/usb-botbaseZ/FileContentIndex/e8a8c050-2024-49c1-81f1-23ec4fbabe77.vsidx
.vs/usb-botbaseZ/FileContentIndex/f8f7913d-d618-4d4e-83fc-1fd28f34608d.vsidx
.vs/slnx.sqlite
.vs/usb-botbaseZ/v17/.wsuo
.vs/VSWorkspaceState.json
.vs/usb-botbaseZ/FileContentIndex/c8c2c0c2-77a2-4c4d-8604-565ccc2b92eb.vsidx
